form {
    display: flex;
    align-items: center;
}

input {
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}
